/* * { */
/* box-sizing: border-box; */
/* } */

input:focus {
  /* TODO */
  outline: 1px solid orangered;
}

body {
  /* TODO */
  background: linear-gradient(to right, yellow, orangered);
  display: flex;
  position: relative;
}

input {
  /* TODO */
  background-color: transparent;
}

@media (min-width: 800px) {
  .search-container {
    position: relative;
    left: 45em;
    top: 20em;
  }

  .selected-fruit {
    width: 400px;
    height: 400px;
    position: relative;
    top: 10em;
    right: -800px;

  }
}

@media (max-width: 799px) {
  .search-container {
    position: relative;
    left: 20em;
    top: 20em;
  }

  .selected-fruit {
    width: 500px;
    height: 200px;
    position: relative;
    top: 1.5em;
    left: 100px;
  }
}

.search-container {
  /* TODO */
  /* background-color: #ff450090; */
  /* background-color: #ffffff30; --> This was made a comment when merged*/
  /* background-color: transparent; */
  width: 215px;
  position: relative;
}

.search-container input,
.search-container .suggestions {
  /* TODO */
  opacity: 0.9;
}

.search-container input {
  /* TODO */
  background-color: #ffffff30;
  border: none;
  border-bottom: 1px solid orangered;
  margin-bottom: 0;
  padding: 10px 0 10px 10px;
}

.search-container .suggestions {
  /* TODO */
  margin-top: -15px;
  padding-right: 10px;

}

ul {
  /* TODO */
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flexbox;
}

ul.has-suggestions {
  /* TODO */
  text-transform: capitalize;
  background-color: #ffffff30;
}

ul li {
  /* TODO */
  width: 180px;
  /* padding: 15px; */
  padding: 15px 10px 15px 15px;
  /* "10px" Above was decreased from 20px with merge */
  /* padding: 15px 20px; */
  position: relative;
  margin-top: -20;
  margin-right: -40px;
}

ul li:hover {
  /* TODO */
  background-color: orangered;
  cursor: pointer;
}

.selected-fruit {
  /* TODO */
  margin: 0;
  /* width: 500px; */
  position: relative;
  /* left: -200px; */

}

/* img {
  width: 100%;
} */
p {
  /* display: inline-block; */
  font-size: 100px;
}